/* Generated Design Tokens from AgencyOS Figma Color Mode */
:root {
  --color-text-text-gray-text-display: #0B0D12;
  --color-text-text-gray-text-primary: #181D27;
  --color-text-text-gray-text-primary-on-brand: #FFFFFF;
  --color-text-text-gray-text-secondary: #414651;
  --color-text-text-gray-text-secondary-hover: #252B37;
  --color-text-text-gray-text-secondary-on-brand: #252B37;
  --color-text-text-gray-text-tertiary: #717680;
  --color-text-text-gray-text-tertiary-hover: #414651;
  --color-text-text-gray-text-tertiary-on-brand: #414651;
  --color-text-text-gray-text-quartinary: #A3A7AE;
  --color-text-text-gray-text-quartinary-on-brand: #D5D7DA;
  --color-text-text-gray-text-placeholder: #D5D7DA;
  --color-text-text-gray-text-placeholder-subtle: #E9EAEB;
  --color-text-text-gray-text-white: #FFFFFF;
  --color-text-text-gray-text-disable: #717680;
  --color-text-text-color-text-brand-primary: #0C61CF;
  --color-text-text-color-text-brand-primary-alt: #0C61CF;
  --color-text-text-color-text-secondary-brand: #4B3FD6;
  --color-text-text-color-text-accent: #FF7A29;
  --color-text-text-color-text-error: #D92D21;
  --color-text-text-color-text-error-on-bg: #D92D21;
  --color-text-text-color-text-info: #006BFF;
  --color-text-text-color-text-info-on-bg: #006BFF;
  --color-text-text-color-text-success: #00AA00;
  --color-text-text-color-text-success-on-bg: #00AA00;
  --color-text-text-color-text-warning: #DC6903;
  --color-text-text-color-text-warning-on-bg: #DC6903;
  --color-background-(bg)-bg-gray-bg-primary: #FFFFFF;
  --color-background-(bg)-bg-gray-bg-primary-alt: #FFFFFF;
  --color-background-(bg)-bg-gray-bg-primary-hover: #FAFAFA;
  --color-background-(bg)-bg-gray-bg-primary-solid: #0B0D12;
  --color-background-(bg)-bg-gray-bg-secondary: #FAFAFA;
  --color-background-(bg)-bg-gray-bg-secondary-alt: #FAFAFA;
  --color-background-(bg)-bg-gray-bg-secondary-hover: #F5F5F5;
  --color-background-(bg)-bg-gray-bg-secondary-subtle: #FDFDFD;
  --color-background-(bg)-bg-gray-bg-secondary-solid: #535862;
  --color-background-(bg)-bg-gray-bg-tertiary: #F5F5F5;
  --color-background-(bg)-bg-gray-bg-quartenary: #E9EAEB;
  --color-background-(bg)-bg-gray-bg-active: #FAFAFA;
  --color-background-(bg)-bg-gray-bg-disable: #F5F5F5;
  --color-background-(bg)-bg-gray-bg-disable-subtle: #FAFAFA;
  --color-background-(bg)-bg-gray-bg-overlay: #0B0D12;
  --color-background-(bg)-bg-color-brand-bg-brand-primary: #D9E7F9;
  --color-background-(bg)-bg-color-brand-bg-brand-primary-alt: #F0F6FE;
  --color-background-(bg)-bg-color-brand-bg-brand-secondary: #C2D8F5;
  --color-background-(bg)-bg-color-brand-bg-brand-solid: #0C61CF;
  --color-background-(bg)-bg-color-brand-bg-brand-solid-hover: #073A7C;
  --color-background-(bg)-bg-color-brand-bg-brand-section: #052753;
  --color-background-(bg)-bg-color-brand-bg-brand-section-subtle: #073A7C;
  --color-background-(bg)-bg-color-success-bg-success-primary: #E5FBE5;
  --color-background-(bg)-bg-color-success-bg-success-primary-alt: #FEFFFE;
  --color-background-(bg)-bg-color-success-bg-success-secondary: #CBF7CB;
  --color-background-(bg)-bg-color-success-bg-success-solid: #00D500;
  --color-background-(bg)-bg-color-success-bg-success-solid-hover: #008000;
  --color-background-(bg)-bg-color-success-bg-success-section: #005500;
  --color-background-(bg)-bg-color-success-bg-brand-section-subtle: #008000;
  --color-background-(bg)-bg-color-warning-bg-warning-primary: #FFFAEA;
  --color-background-(bg)-bg-color-warning-bg-warning-primary-alt: #FFFCF5;
  --color-background-(bg)-bg-color-warning-bg-warning-secondary: #FEF1C6;
  --color-background-(bg)-bg-color-warning-bg-warning-solid: #F79008;
  --color-background-(bg)-bg-color-warning-bg-warning-solid-hover: #B54707;
  --color-background-(bg)-bg-color-warning-bg-warning-section: #93370E;
  --color-background-(bg)-bg-color-warning-bg-warning-section-subtle: #B54707;
  --color-border-border-gray-border-primary: #D5D7DA;
  --color-border-border-gray-border-secondary: #E9EAEB;
  --color-border-border-gray-border-tertiary: #F5F5F5;
  --color-border-border-gray-border-disable: #A3A7AE;
  --color-border-border-gray-border-disabl-subtle: #D5D7DA;
  --color-border-border-color-border-brand: #0C61CF;
  --color-border-border-color-border-brand-alt: #0A4EA6;
  --color-border-border-color-border-brand-hover: #0A4EA6;
  --color-border-border-color-border-error: #F14437;
  --color-border-border-color-border-error-subtle: #FEE4E2;
  --color-border-border-color-border-warning: #F79008;
  --color-border-border-color-border-warning-subtle: #FFC84B;
  --color-border-border-color-border-success: #00D500;
  --color-border-border-color-border-success-subtle: #66E666;
  --color-border-border-color-border-info: #006BFF;
  --color-border-border-color-border-info-subtle: #7CB3FF;
  --color-foreground-(fg)-fg-gray-fg-primary: #181D27;
  --color-foreground-(fg)-fg-gray-fg-secondary: #414651;
  --color-foreground-(fg)-fg-gray-fg-secondary-hover-2: #FFFFFF;
  --color-foreground-(fg)-fg-gray-fg-secondary-hover: #252B37;
  --color-foreground-(fg)-fg-gray-fg-tertiary: #535862;
  --color-foreground-(fg)-fg-gray-fg-tertiary-hover: #414651;
  --color-foreground-(fg)-fg-gray-fg-quartenary: #717680;
  --color-foreground-(fg)-fg-gray-fg-quartenary-hover: #535862;
  --color-foreground-(fg)-fg-gray-fg-alternative: #A3A7AE;
  --color-foreground-(fg)-fg-gray-fg-alternative-hover: #717680;
  --color-foreground-(fg)-fg-gray-fg-alternative-subtle: #D5D7DA;
  --color-foreground-(fg)-fg-gray-fg-white: #FFFFFF;
  --color-foreground-(fg)-fg-gray-fg-disable: #A3A7AE;
  --color-foreground-(fg)-fg-gray-fg-disable-subtle: #D5D7DA;
  --color-foreground-(fg)-fg-color-fg-brand-primary: #0C61CF;
  --color-foreground-(fg)-fg-color-fg-brand-primary-alt: #0A4EA6;
  --color-foreground-(fg)-fg-color-fg-brand-secondary: #3A7FD8;
  --color-foreground-(fg)-fg-color-fg-error: #D92D21;
  --color-foreground-(fg)-fg-color-fg-error-alt: #F14437;
  --color-foreground-(fg)-fg-color-fg-success: #00AA00;
  --color-foreground-(fg)-fg-color-fg-success-alt: #00D500;
  --color-foreground-(fg)-fg-color-fg-info: #006BFF;
  --color-foreground-(fg)-fg-color-fg-info-alt: #3389FF;
  --color-foreground-(fg)-fg-color-fg-info-transparent: #CEE3FF;
  --color-foreground-(fg)-fg-color-fg-warning: #F79008;
  --color-foreground-(fg)-fg-color-fg-warning-alt: #FDB022;
  --color-foreground-(fg)-fg-color-fg-success-transparent: #CBF7CB;
  --color-foreground-(fg)-fg-color-fg-warning-transparent: #FEF1C6;
  --color-foreground-(fg)-fg-color-fg-error-transparent: #FEE4E2;
  --color-alpha-bg-alpha-white-alpha-white-100: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-90: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-80: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-70: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-60: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-50: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-40: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-30: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-20: #FFFFFF;
  --color-alpha-bg-alpha-white-alpha-white-10: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-100: #000000;
  --color-alpha-bg-alpha-black-alpha-black-90: #000000;
  --color-alpha-bg-alpha-black-alpha-black-80: #000000;
  --color-alpha-bg-alpha-black-alpha-black-70: #000000;
  --color-alpha-bg-alpha-black-alpha-black-60: #000000;
  --color-alpha-bg-alpha-black-alpha-black-50: #000000;
  --color-alpha-bg-alpha-black-alpha-black-40: #000000;
  --color-alpha-bg-alpha-black-alpha-black-30: #000000;
  --color-alpha-bg-alpha-black-alpha-black-20: #000000;
  --color-alpha-bg-alpha-black-alpha-black-10: #000000;
  --color-utility-utility-gray-utility-gray-25: #FAFAFA;
  --color-utility-utility-gray-utility-gray-50: #FAFAFA;
  --color-utility-utility-gray-utility-gray-100: #F5F5F5;
  --color-utility-utility-gray-utility-gray-200: #E9EAEB;
  --color-utility-utility-gray-utility-gray-300: #D5D7DA;
  --color-utility-utility-gray-utility-gray-400: #A3A7AE;
  --color-utility-utility-gray-utility-gray-500: #717680;
  --color-utility-utility-gray-utility-gray-600: #535862;
  --color-utility-utility-gray-utility-gray-700: #414651;
  --color-utility-utility-error-utility-error-25: #FFFBFA;
  --color-utility-utility-error-utility-error-50: #FEF3F2;
  --color-utility-utility-error-utility-error-100: #FEE4E2;
  --color-utility-utility-error-utility-error-200: #FECDCA;
  --color-utility-utility-error-utility-error-300: #FDA29B;
  --color-utility-utility-error-utility-error-400: #F97066;
  --color-utility-utility-error-utility-error-500: #F14437;
  --color-utility-utility-error-utility-error-600: #D92D21;
  --color-utility-utility-error-utility-error-700: #B42419;
  --color-utility-utility-brand-utility-brand-25: #F0F6FE;
  --color-utility-utility-brand-utility-brand-50: #D9E7F9;
  --color-utility-utility-brand-utility-brand-50-alt: #D9E7F9;
  --color-utility-utility-brand-utility-brand-100: #C2D8F5;
  --color-utility-utility-brand-utility-brand-100-alt: #C2D8F5;
  --color-utility-utility-brand-utility-brand-200: #95BAEB;
  --color-utility-utility-brand-utility-brand-200-alt: #95BAEB;
  --color-utility-utility-brand-utility-brand-300: #679DE2;
  --color-utility-utility-brand-utility-brand-300-alt: #679DE2;
  --color-utility-utility-brand-utility-brand-400: #3A7FD8;
  --color-utility-utility-brand-utility-brand-400-alt: #3A7FD8;
  --color-utility-utility-brand-utility-brand-500: #0C61CF;
  --color-utility-utility-brand-utility-brand-500-alt: #0C61CF;
  --color-utility-utility-brand-utility-brand-600: #0A4EA6;
  --color-utility-utility-brand-utility-brand-600-alt: #0A4EA6;
  --color-utility-utility-brand-utility-brand-700: #073A7C;
  --color-utility-utility-brand-utility-brand-700-alt: #073A7C;
  --color-utility-utility-brand-utility-brand-800: #052753;
  --color-utility-utility-brand-utility-brand-800-alt: #052753;
  --color-utility-utility-brand-utility-brand-900: #021329;
  --color-utility-utility-brand-utility-brand-900-alt: #021329;
  --color-utility-utility-success-utility-success-21: #FEFFFE;
  --color-utility-utility-success-utility-success-50: #E5FBE5;
  --color-utility-utility-success-utility-success-100: #CBF7CB;
  --color-utility-utility-success-utility-success-200: #98EE98;
  --color-utility-utility-success-utility-success-300: #66E666;
  --color-utility-utility-success-utility-success-400: #33DD33;
  --color-utility-utility-success-utility-success-500: #00D500;
  --color-utility-utility-success-utility-success-600: #00AA00;
  --color-utility-utility-success-utility-success-700: #008000;
  --color-utility-utility-warning-utility-warning-25: #FFFCF5;
  --color-utility-utility-warning-utility-warning-50: #FFFAEA;
  --color-utility-utility-warning-utility-warning-100: #FEF1C6;
  --color-utility-utility-warning-utility-warning-200: #FEDF88;
  --color-utility-utility-warning-utility-warning-300: #FFC84B;
  --color-utility-utility-warning-utility-warning-400: #FDB022;
  --color-utility-utility-warning-utility-warning-500: #F79008;
  --color-utility-utility-warning-utility-warning-600: #F79008;
  --color-utility-utility-warning-utility-warning-700: #B54707;
  --color-button-colors-button-bg-primary: #0C61CF;
  --color-button-colors-button-bg-primary-hover: #073A7C;
  --color-button-colors-button-bg-primary-focus: #052753;
  --color-button-colors-button-border-brand-dark: #052753;
  --color-button-colors-button-border-brand-light: #0C61CF;
  --color-button-colors-button-border-brand-subtle: #C2D8F5;
  --color-button-colors-button-border-brand-transparent: #C2D8F5;
  --color-button-colors-button-bg-secondary: #FFFFFF;
  --color-button-colors-button-bg-secondary-hover: #FFFFFF;
  --color-button-colors-button-bg-secondary-focus: #FFFFFF;
  --color-button-colors-button-bg-secondary-alt: #FFFFFF;
  --color-button-colors-button-bg-error: #FFFFFF;
  --color-button-colors-button-bg-error-alt: #FFFFFF;
  --color-button-colors-button-bg-error-hover: #FFFFFF;
  --color-button-colors-button-bg-error-focus: #FFFFFF;
  --color-button-colors-button-border-error-dark: #FFFFFF;
  --color-button-colors-button-border-error-light: #FFFFFF;
  --color-button-colors-button-border-error-subtle: #FFFFFF;
  --color-button-colors-primary-button-primary-bg: #0C61CF;
  --color-button-colors-primary-button-primary-bg-hover: #0A4EA6;
  --color-button-colors-primary-button-primary-bg-focus: #073A7C;
  --color-button-colors-primary-button-primary-alt: #FFFFFF;
  --color-button-colors-primary-button-primary-alt-hover: #FFFFFF;
  --color-button-colors-primary-button-primary-border-focus: #073A7C;
  --color-button-colors-secondary-button-secondary-bg: #FFFFFF;
  --color-button-colors-secondary-button-secondary-bg-hover: #F0F6FE;
  --color-button-colors-secondary-button-secondary-bg-active: #D9E7F9;
  --color-button-colors-secondary-button-secondary-bg-focus: #073A7C;
  --color-button-colors-secondary-button-secondary-bg-alt: #FFFFFF;
  --color-button-colors-secondary-button-secondary-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-button-secondary-border: #0C61CF;
  --color-button-colors-secondary-button-secondary-border-hover: #0A4EA6;
  --color-button-colors-secondary-button-secondary-border-focus: #073A7C;
  --color-button-colors-secondary-gray-button-second-gray-bg: #FFFFFF;
  --color-button-colors-secondary-gray-button-second-gray-bg-hover: #FAFAFA;
  --color-button-colors-secondary-gray-button-second-gray-bg-alt: #414651;
  --color-button-colors-secondary-gray-button-second-gray-bg-alt-hover: #252B37;
  --color-button-colors-secondary-gray-button-second-gray-border: #D5D7DA;
  --color-button-colors-secondary-gray-button-second-gray-border-hover: #D5D7DA;
  --color-button-colors-tertiary-button-tertiary-bg-hover: #D9E7F9;
  --color-button-colors-tertiary-button-tertiary-bg-alt: #073A7C;
  --color-button-colors-tertiary-button-tertiary-bg-alt-hover: #052753;
  --color-button-colors-tertiary-button-tertiary-gray-bg-hover-2: #FAFAFA;
  --color-button-colors-tertiary-button-tertiary-gray-bg-alt: #535862;
  --color-button-colors-tertiary-button-tertiary-gray-bg-alt-hover: #414651;
  --color-button-colors-primary-error-button-primary-error-bg: #F14437;
  --color-button-colors-primary-error-button-primary-error-bg-hover: #D92D21;
  --color-button-colors-primary-error-button-primary-error-bg-alt: #FFFFFF;
  --color-button-colors-primary-error-button-primary-error-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-bg: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-bg-hover: #FEF3F2;
  --color-button-colors-secondary-error-button-secondary-error-bg-focus: #B42419;
  --color-button-colors-secondary-error-button-secondary-error-bg-alt: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-border: #F14437;
  --color-button-colors-secondary-error-button-secondary-border-error-hover: #D92D21;
  --color-button-colors-secondary-error-button-secondary-error-border-focus: #B42419;
  --color-button-colors-tertiary-error-button-tertiary-bg-hover: #FEF3F2;
  --color-button-colors-tertiary-error-button-tertiary-bg-alt: #B42419;
  --color-button-colors-tertiary-error-button-tertiary-bg-alt-hover: #912019;
  --color-icons-icon-color-white: #FFFFFF;
  --color-icons-icon-color-primary: #181D27;
  --color-icons-icon-color-secondary: #414651;
  --color-icons-icon-color-tertiary: #717680;
  --color-icons-icon-color-quartinary: #A3A7AE;
  --color-icons-icon-color-placeholder: #D5D7DA;
  --color-icons-icon-color-disable: #A3A7AE;
  --color-icons-icon-color-brand: #0C61CF;
  --color-icons-icon-color-brand-alt: #F0F6FE;
  --color-icons-icon-color-brand-hover: #0A4EA6;
  --color-icons-icon-color-brand-focus: #073A7C;
  --color-icons-icon-color-error: #D92D21;
  --color-icons-icon-color-error-alt: #FFFBFA;
  --color-icons-icon-color-error-hover: #B42419;
  --color-icons-icon-color-error-focus: #912019;
  --color-icons-icon-color-success: #00AA00;
  --color-icons-icon-color-success-alt: #FEFFFE;
  --color-icons-icon-color-warning: #DC6903;
  --color-icons-icon-color-warning-alt: #FFFCF5;
  --color-icons-icon-color-info: #006BFF;
  --color-icons-icon-color-info-alt: #F7FBFF;
}

[data-theme='dark'],
[data-theme="dark"] {
  --color-text-text-gray-text-display: #FFFFFF;
  --color-text-text-gray-text-primary: #F7F7F7;
  --color-text-text-gray-text-primary-on-brand: #FAFAFA;
  --color-text-text-gray-text-secondary: #CECFD2;
  --color-text-text-gray-text-secondary-hover: #ECECED;
  --color-text-text-gray-text-secondary-on-brand: #CECFD2;
  --color-text-text-gray-text-tertiary: #95979D;
  --color-text-text-gray-text-tertiary-hover: #CECFD2;
  --color-text-text-gray-text-tertiary-on-brand: #95979D;
  --color-text-text-gray-text-quartinary: #95979D;
  --color-text-text-gray-text-quartinary-on-brand: #95979D;
  --color-text-text-gray-text-placeholder: #84888E;
  --color-text-text-gray-text-placeholder-subtle: #383A41;
  --color-text-text-gray-text-white: #FFFFFF;
  --color-text-text-gray-text-disable: #84888E;
  --color-text-text-color-text-brand-primary: #3A7FD8;
  --color-text-text-color-text-brand-primary-alt: #F7F7F7;
  --color-text-text-color-text-secondary-brand: #6E64DE;
  --color-text-text-color-text-accent: #FF9352;
  --color-text-text-color-text-error: #F97066;
  --color-text-text-color-text-error-on-bg: #FEF3F2;
  --color-text-text-color-text-info: #3389FF;
  --color-text-text-color-text-info-on-bg: #E5F0FF;
  --color-text-text-color-text-success: #33DD33;
  --color-text-text-color-text-success-on-bg: #E5FBE5;
  --color-text-text-color-text-warning: #FDB022;
  --color-text-text-color-text-warning-on-bg: #FFFAEA;
  --color-background-(bg)-bg-gray-bg-primary: #0C0E12;
  --color-background-(bg)-bg-gray-bg-primary-alt: #14161B;
  --color-background-(bg)-bg-gray-bg-primary-hover: #22262F;
  --color-background-(bg)-bg-gray-bg-primary-solid: #14161B;
  --color-background-(bg)-bg-gray-bg-secondary: #14161B;
  --color-background-(bg)-bg-gray-bg-secondary-alt: #0C0E12;
  --color-background-(bg)-bg-gray-bg-secondary-hover: #22262F;
  --color-background-(bg)-bg-gray-bg-secondary-subtle: #14161B;
  --color-background-(bg)-bg-gray-bg-secondary-solid: #61656C;
  --color-background-(bg)-bg-gray-bg-tertiary: #22262F;
  --color-background-(bg)-bg-gray-bg-quartenary: #383A41;
  --color-background-(bg)-bg-gray-bg-active: #22262F;
  --color-background-(bg)-bg-gray-bg-disable: #22262F;
  --color-background-(bg)-bg-gray-bg-disable-subtle: #14161B;
  --color-background-(bg)-bg-gray-bg-overlay: #22262F;
  --color-background-(bg)-bg-color-brand-bg-brand-primary: #0C61CF;
  --color-background-(bg)-bg-color-brand-bg-brand-primary-alt: #22262F;
  --color-background-(bg)-bg-color-brand-bg-brand-secondary: #0A4EA6;
  --color-background-(bg)-bg-color-brand-bg-brand-solid: #3A7FD8;
  --color-background-(bg)-bg-color-brand-bg-brand-solid-hover: #0C61CF;
  --color-background-(bg)-bg-color-brand-bg-brand-section: #22262F;
  --color-background-(bg)-bg-color-brand-bg-brand-section-subtle: #0C0E12;
  --color-background-(bg)-bg-color-success-bg-success-primary: #0C61CF;
  --color-background-(bg)-bg-color-success-bg-success-primary-alt: #22262F;
  --color-background-(bg)-bg-color-success-bg-success-secondary: #0A4EA6;
  --color-background-(bg)-bg-color-success-bg-success-solid: #3A7FD8;
  --color-background-(bg)-bg-color-success-bg-success-solid-hover: #0C61CF;
  --color-background-(bg)-bg-color-success-bg-success-section: #22262F;
  --color-background-(bg)-bg-color-success-bg-brand-section-subtle: #0C0E12;
  --color-background-(bg)-bg-color-warning-bg-warning-primary: #0C61CF;
  --color-background-(bg)-bg-color-warning-bg-warning-primary-alt: #22262F;
  --color-background-(bg)-bg-color-warning-bg-warning-secondary: #0A4EA6;
  --color-background-(bg)-bg-color-warning-bg-warning-solid: #3A7FD8;
  --color-background-(bg)-bg-color-warning-bg-warning-solid-hover: #0C61CF;
  --color-background-(bg)-bg-color-warning-bg-warning-section: #22262F;
  --color-background-(bg)-bg-color-warning-bg-warning-section-subtle: #0C0E12;
  --color-border-border-gray-border-primary: #383A41;
  --color-border-border-gray-border-secondary: #22262F;
  --color-border-border-gray-border-tertiary: #22262F;
  --color-border-border-gray-border-disable: #383A41;
  --color-border-border-gray-border-disabl-subtle: #22262F;
  --color-border-border-color-border-brand: #3A7FD8;
  --color-border-border-color-border-brand-alt: #383A41;
  --color-border-border-color-border-brand-hover: #383A41;
  --color-border-border-color-border-error: #F97066;
  --color-border-border-color-border-error-subtle: #912019;
  --color-border-border-color-border-warning: #FDB022;
  --color-border-border-color-border-warning-subtle: #FDB022;
  --color-border-border-color-border-success: #33DD33;
  --color-border-border-color-border-success-subtle: #33DD33;
  --color-border-border-color-border-info: #3389FF;
  --color-border-border-color-border-info-subtle: #3389FF;
  --color-foreground-(fg)-fg-gray-fg-primary: #FFFFFF;
  --color-foreground-(fg)-fg-gray-fg-secondary: #CECFD2;
  --color-foreground-(fg)-fg-gray-fg-secondary-hover-2: #FFFFFF;
  --color-foreground-(fg)-fg-gray-fg-secondary-hover: #ECECED;
  --color-foreground-(fg)-fg-gray-fg-tertiary: #95979D;
  --color-foreground-(fg)-fg-gray-fg-tertiary-hover: #CECFD2;
  --color-foreground-(fg)-fg-gray-fg-quartenary: #95979D;
  --color-foreground-(fg)-fg-gray-fg-quartenary-hover: #CECFD2;
  --color-foreground-(fg)-fg-gray-fg-alternative: #84888E;
  --color-foreground-(fg)-fg-gray-fg-alternative-hover: #95979D;
  --color-foreground-(fg)-fg-gray-fg-alternative-subtle: #61656C;
  --color-foreground-(fg)-fg-gray-fg-white: #FFFFFF;
  --color-foreground-(fg)-fg-gray-fg-disable: #84888E;
  --color-foreground-(fg)-fg-gray-fg-disable-subtle: #61656C;
  --color-foreground-(fg)-fg-color-fg-brand-primary: #CECFD2;
  --color-foreground-(fg)-fg-color-fg-brand-primary-alt: #0C61CF;
  --color-foreground-(fg)-fg-color-fg-brand-secondary: #0C61CF;
  --color-foreground-(fg)-fg-color-fg-error: #F14437;
  --color-foreground-(fg)-fg-color-fg-error-alt: #F97066;
  --color-foreground-(fg)-fg-color-fg-success: #00D500;
  --color-foreground-(fg)-fg-color-fg-success-alt: #33DD33;
  --color-foreground-(fg)-fg-color-fg-info: #006BFF;
  --color-foreground-(fg)-fg-color-fg-info-alt: #3389FF;
  --color-foreground-(fg)-fg-color-fg-info-transparent: #003885;
  --color-foreground-(fg)-fg-color-fg-warning: #F79008;
  --color-foreground-(fg)-fg-color-fg-warning-alt: #FDB022;
  --color-foreground-(fg)-fg-color-fg-success-transparent: #005500;
  --color-foreground-(fg)-fg-color-fg-warning-transparent: #93370E;
  --color-foreground-(fg)-fg-color-fg-error-transparent: #912019;
  --color-alpha-bg-alpha-white-alpha-white-100: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-90: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-80: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-70: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-60: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-50: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-40: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-30: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-20: #0C0E12;
  --color-alpha-bg-alpha-white-alpha-white-10: #0C0E12;
  --color-alpha-bg-alpha-black-alpha-black-100: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-90: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-80: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-70: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-60: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-50: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-40: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-30: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-20: #FFFFFF;
  --color-alpha-bg-alpha-black-alpha-black-10: #FFFFFF;
  --color-utility-utility-gray-utility-gray-25: #0C0E12;
  --color-utility-utility-gray-utility-gray-50: #14161B;
  --color-utility-utility-gray-utility-gray-100: #22262F;
  --color-utility-utility-gray-utility-gray-200: #383A41;
  --color-utility-utility-gray-utility-gray-300: #61656C;
  --color-utility-utility-gray-utility-gray-400: #84888E;
  --color-utility-utility-gray-utility-gray-500: #95979D;
  --color-utility-utility-gray-utility-gray-600: #ECECED;
  --color-utility-utility-gray-utility-gray-700: #F0F0F1;
  --color-utility-utility-error-utility-error-25: #4E1D09;
  --color-utility-utility-error-utility-error-50: #4E1D09;
  --color-utility-utility-error-utility-error-100: #7A2E0D;
  --color-utility-utility-error-utility-error-200: #912019;
  --color-utility-utility-error-utility-error-300: #B42419;
  --color-utility-utility-error-utility-error-400: #D92D21;
  --color-utility-utility-error-utility-error-500: #F14437;
  --color-utility-utility-error-utility-error-600: #F97066;
  --color-utility-utility-error-utility-error-700: #FDA29B;
  --color-utility-utility-brand-utility-brand-25: #010A15;
  --color-utility-utility-brand-utility-brand-50: #010A15;
  --color-utility-utility-brand-utility-brand-50-alt: #14161B;
  --color-utility-utility-brand-utility-brand-100: #021329;
  --color-utility-utility-brand-utility-brand-100-alt: #22262F;
  --color-utility-utility-brand-utility-brand-200: #052753;
  --color-utility-utility-brand-utility-brand-200-alt: #383A41;
  --color-utility-utility-brand-utility-brand-300: #073A7C;
  --color-utility-utility-brand-utility-brand-300-alt: #383A41;
  --color-utility-utility-brand-utility-brand-400: #0A4EA6;
  --color-utility-utility-brand-utility-brand-400-alt: #61656C;
  --color-utility-utility-brand-utility-brand-500: #0C61CF;
  --color-utility-utility-brand-utility-brand-500-alt: #84888E;
  --color-utility-utility-brand-utility-brand-600: #3A7FD8;
  --color-utility-utility-brand-utility-brand-600-alt: #95979D;
  --color-utility-utility-brand-utility-brand-700: #679DE2;
  --color-utility-utility-brand-utility-brand-700-alt: #CECFD2;
  --color-utility-utility-brand-utility-brand-800: #95BAEB;
  --color-utility-utility-brand-utility-brand-800-alt: #ECECED;
  --color-utility-utility-brand-utility-brand-900: #C2D8F5;
  --color-utility-utility-brand-utility-brand-900-alt: #F0F0F1;
  --color-utility-utility-success-utility-success-21: #000000;
  --color-utility-utility-success-utility-success-50: #000000;
  --color-utility-utility-success-utility-success-100: #002B00;
  --color-utility-utility-success-utility-success-200: #005500;
  --color-utility-utility-success-utility-success-300: #008000;
  --color-utility-utility-success-utility-success-400: #00AA00;
  --color-utility-utility-success-utility-success-500: #00D500;
  --color-utility-utility-success-utility-success-600: #33DD33;
  --color-utility-utility-success-utility-success-700: #66E666;
  --color-utility-utility-warning-utility-warning-25: #4E1D09;
  --color-utility-utility-warning-utility-warning-50: #4E1D09;
  --color-utility-utility-warning-utility-warning-100: #7A2E0D;
  --color-utility-utility-warning-utility-warning-200: #93370E;
  --color-utility-utility-warning-utility-warning-300: #B54707;
  --color-utility-utility-warning-utility-warning-400: #DC6903;
  --color-utility-utility-warning-utility-warning-500: #F79008;
  --color-utility-utility-warning-utility-warning-600: #FDB022;
  --color-utility-utility-warning-utility-warning-700: #FFC84B;
  --color-button-colors-button-bg-primary: #3A7FD8;
  --color-button-colors-button-bg-primary-hover: #0A4EA6;
  --color-button-colors-button-bg-primary-focus: #0C61CF;
  --color-button-colors-button-border-brand-dark: #0C61CF;
  --color-button-colors-button-border-brand-light: #3A7FD8;
  --color-button-colors-button-border-brand-subtle: #FFFFFF;
  --color-button-colors-button-border-brand-transparent: #052753;
  --color-button-colors-button-bg-secondary: #FFFFFF;
  --color-button-colors-button-bg-secondary-hover: #FFFFFF;
  --color-button-colors-button-bg-secondary-focus: #FFFFFF;
  --color-button-colors-button-bg-secondary-alt: #FFFFFF;
  --color-button-colors-button-bg-error: #FFFFFF;
  --color-button-colors-button-bg-error-alt: #FFFFFF;
  --color-button-colors-button-bg-error-hover: #FFFFFF;
  --color-button-colors-button-bg-error-focus: #FFFFFF;
  --color-button-colors-button-border-error-dark: #FFFFFF;
  --color-button-colors-button-border-error-light: #FFFFFF;
  --color-button-colors-button-border-error-subtle: #FFFFFF;
  --color-button-colors-primary-button-primary-bg: #0C61CF;
  --color-button-colors-primary-button-primary-bg-hover: #3A7FD8;
  --color-button-colors-primary-button-primary-bg-focus: #0A4EA6;
  --color-button-colors-primary-button-primary-alt: #FFFFFF;
  --color-button-colors-primary-button-primary-alt-hover: #FFFFFF;
  --color-button-colors-primary-button-primary-border-focus: #0A4EA6;
  --color-button-colors-secondary-button-secondary-bg: #14161B;
  --color-button-colors-secondary-button-secondary-bg-hover: #22262F;
  --color-button-colors-secondary-button-secondary-bg-active: #22262F;
  --color-button-colors-secondary-button-secondary-bg-focus: #0A4EA6;
  --color-button-colors-secondary-button-secondary-bg-alt: #FFFFFF;
  --color-button-colors-secondary-button-secondary-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-button-secondary-border: #0C61CF;
  --color-button-colors-secondary-button-secondary-border-hover: #0A4EA6;
  --color-button-colors-secondary-button-secondary-border-focus: #0A4EA6;
  --color-button-colors-secondary-gray-button-second-gray-bg: #14161B;
  --color-button-colors-secondary-gray-button-second-gray-bg-hover: #22262F;
  --color-button-colors-secondary-gray-button-second-gray-bg-alt: #CECFD2;
  --color-button-colors-secondary-gray-button-second-gray-bg-alt-hover: #F0F0F1;
  --color-button-colors-secondary-gray-button-second-gray-border: #383A41;
  --color-button-colors-secondary-gray-button-second-gray-border-hover: #383A41;
  --color-button-colors-tertiary-button-tertiary-bg-hover: #22262F;
  --color-button-colors-tertiary-button-tertiary-bg-alt: #D5D7DA;
  --color-button-colors-tertiary-button-tertiary-bg-alt-hover: #F5F5F5;
  --color-button-colors-tertiary-button-tertiary-gray-bg-hover-2: #22262F;
  --color-button-colors-tertiary-button-tertiary-gray-bg-alt: #95979D;
  --color-button-colors-tertiary-button-tertiary-gray-bg-alt-hover: #ECECED;
  --color-button-colors-primary-error-button-primary-error-bg: #F14437;
  --color-button-colors-primary-error-button-primary-error-bg-hover: #F97066;
  --color-button-colors-primary-error-button-primary-error-bg-alt: #FFFFFF;
  --color-button-colors-primary-error-button-primary-error-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-bg: #4E1D09;
  --color-button-colors-secondary-error-button-secondary-error-bg-hover: #7A2E0D;
  --color-button-colors-secondary-error-button-secondary-error-bg-focus: #B42419;
  --color-button-colors-secondary-error-button-secondary-error-bg-alt: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-bg-alt-hover: #FFFFFF;
  --color-button-colors-secondary-error-button-secondary-error-border: #F14437;
  --color-button-colors-secondary-error-button-secondary-border-error-hover: #D92D21;
  --color-button-colors-secondary-error-button-secondary-error-border-focus: #B42419;
  --color-button-colors-tertiary-error-button-tertiary-bg-hover: #22262F;
  --color-button-colors-tertiary-error-button-tertiary-bg-alt: #D5D7DA;
  --color-button-colors-tertiary-error-button-tertiary-bg-alt-hover: #F5F5F5;
  --color-icons-icon-color-white: #FFFFFF;
  --color-icons-icon-color-primary: #F7F7F7;
  --color-icons-icon-color-secondary: #CECFD2;
  --color-icons-icon-color-tertiary: #95979D;
  --color-icons-icon-color-quartinary: #95979D;
  --color-icons-icon-color-placeholder: #84888E;
  --color-icons-icon-color-disable: #84888E;
  --color-icons-icon-color-brand: #0C61CF;
  --color-icons-icon-color-brand-alt: #F0F6FE;
  --color-icons-icon-color-brand-hover: #0A4EA6;
  --color-icons-icon-color-brand-focus: #073A7C;
  --color-icons-icon-color-error: #F14437;
  --color-icons-icon-color-error-alt: #FFFBFA;
  --color-icons-icon-color-error-hover: #D92D21;
  --color-icons-icon-color-error-focus: #B42419;
  --color-icons-icon-color-success: #00D500;
  --color-icons-icon-color-success-alt: #FEFFFE;
  --color-icons-icon-color-warning: #F79008;
  --color-icons-icon-color-warning-alt: #FFFCF5;
  --color-icons-icon-color-info: #006BFF;
  --color-icons-icon-color-info-alt: #F7FBFF;
}
